# Read HTML

In [60]:
import pandas as pd
df = pd.read_html('https://www.cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True&UniDbQuery.mode=1&UniDbQuery.date_req1=&UniDbQuery.date_req2=&UniDbQuery.VAL_NM_RQ=R01235&UniDbQuery.FromDate=08.12.2016&UniDbQuery.ToDate=15.12.2018', header=1)[0]
df['Курс'] = df['Курс']/10000
df['Дата'] = pd.to_datetime(df['Дата'], format='%d.%m.%Y')
df = df.drop('Единиц',1)
df = df.set_index('Дата')
df1 = df
mons = pd.date_range(start='2016-08-12', end = '2018-12-15', freq='W-FRI')
df[df.index.isin(mons)].head()

               Курс
Дата
2016-12-09  63.3901
2016-12-16  61.6368
2016-12-23  60.8641
2016-12-30  60.2730
2017-01-13  59.4978

In [61]:
df1.resample('D').ffill().head()

               Курс
Дата
2016-12-08  63.9114
2016-12-09  63.3901
2016-12-10  63.3028
2016-12-11  63.3028
2016-12-12  63.3028

In [62]:
df1.asfreq(freq = 'D', method = 'ffill').head()

               Курс
Дата
2016-12-08  63.9114
2016-12-09  63.3901
2016-12-10  63.3028
2016-12-11  63.3028
2016-12-12  63.3028

In [63]:
df1['Курс'].head()

Дата
2016-12-08    63.9114
2016-12-09    63.3901
2016-12-10    63.3028
2016-12-13    61.5804
2016-12-14    61.0690
Name: Курс, dtype: float64