# Синтаксис Python

## 1. int floats bools

In [135]:
print(-9 // 8)
print(-(9 // 8))

-2
-1

In [7]:
b = 4.2 * 5.1
b

21.419999999999998

In [8]:
a = 0.1 + 0.2
print(a - 0.3)

5.551115123125783e-17

**Задача 1.**
Вы вкладываете 1 миллион рублей под 9% годовых. Сколько у вас будет денег через год? Через пять лет?

In [13]:
1e6 * (1.0 + 0.09 / 12) ** (5 * 12)

1565681.0269415707

### bool и условия

In [16]:
print(True * False)
print(True + True)
print(False and False)

0
2
False

**Условия**

In [17]:
p = 2
x = ("Yes" if p == 1 else "No or not sure")
print(x)

No or not sure

In [20]:
p = 0.352 + 0.314

if p == 0.666:
    print("Yes")
else:
    print("Not sure")

Not sure

In [21]:
g = 0.352 + 0.314
b = 0.666
epsilon = 1.0 * 10**(-6)
abs(g - b) < epsilon

True

## 2. None

In [29]:
z = None
print(z)
print(type(z))

None
<class 'NoneType'>

In [30]:
print(int(z))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [31]:
print(str(None))

None

## 3. Строки

### str

In [23]:
print(bool(4))
print(bool(""))
print(bool(None))
print(bool(0))
print(bool("0"))

True
False
False
False
True

In [24]:
print(0 and "")
print(1 and "")
print(None and "")

0

None

In [25]:
print(0 or "")
print(1 or "")
print(None or "")

1

In [29]:
a="Ivan went home"
print(a)
print(a[0])
print(a[1])
print(a[0:3])

Ivan went home
I
v
Iva

In [32]:
print(a[0:10:2])

Ia et

In [33]:
print(a[-2])

m

In [34]:
print(a[::-1])

emoh tnew navI

**Задача 2.**
Попробуйте сделать то, что вам может потребоваться при обработке отзывов:
1. Разбить на строки
1. Соединить строки через другие разделители (например, запятые)
1. Получить значение поля "время"
1. Получить пары "название поля - значение"

In [39]:
s1 = """Время: 10:34
Дата: 20.05.2017
Оценка: 1
Длительность разговора (мин.): 0:32
Комментарий: Общение с сотрудником вашей техподдержки мне не понравилось. Раньше всегда отвечала девушка с приятным голосом, а сегодня какой-то мужчина. Совсем никуда не годится, примите меры!!!
"""

s2 = """Время: 9:20
Дата: 21.05.2017
Оценка: 5
Длительность разговора (мин.): 25:07
Комментарий: С моей проблемой мне помогли, большое спасибо!
"""

s1

'Время: 10:34\nДата: 20.05.2017\nОценка: 1\nДлительность разговора (мин.): 0:32\nКомментарий: Общение с сотрудником вашей техподдержки мне не понравилось. Раньше всегда отвечала девушка с приятным голосом, а сегодня какой-то мужчина. Совсем никуда не годится, примите меры!!!\n'

In [42]:
splitted = s1.split('\n')
splitted

['Время: 10:34',
 'Дата: 20.05.2017',
 'Оценка: 1',
 'Длительность разговора (мин.): 0:32',
 'Комментарий: Общение с сотрудником вашей техподдержки мне не понравилось. Раньше всегда отвечала девушка с приятным голосом, а сегодня какой-то мужчина. Совсем никуда не годится, примите меры!!!',
 '']

In [45]:
s3 = ", ".join(splitted)
s3

'Время: 10:34, Дата: 20.05.2017, Оценка: 1, Длительность разговора (мин.): 0:32, Комментарий: Общение с сотрудником вашей техподдержки мне не понравилось. Раньше всегда отвечала девушка с приятным голосом, а сегодня какой-то мужчина. Совсем никуда не годится, примите меры!!!, '

In [48]:
b = 'abc\\nabc'
print(b.split('\\'))

['abc', 'nabc']

In [49]:
s4 = "сейчас будет текст 'в кавычках'"
print(s4)

сейчас будет текст 'в кавычках'

In [56]:
time = s2.split('\n')[0]
h = time[:7]
m = time[-5:]
print(h)
print(m)

Время:
 9:20

In [57]:
splitted_line = s2.split('\n')[0].split(': ')
field_name = splitted_line[0]
field_value = splitted_line[1]
print(field_name)
print(field_value)

Время
9:20

In [78]:
list = []
for line in s1.split('\n'):
    if line:
        splitted_line = line.split(': ')
        field = [splitted_line[0], splitted_line[1]]
        list.append(field)
list

[['Время', '10:34'],
 ['Дата', '20.05.2017'],
 ['Оценка', '1'],
 ['Длительность разговора (мин.)', '0:32'],
 ['Комментарий',
  'Общение с сотрудником вашей техподдержки мне не понравилось. Раньше всегда отвечала девушка с приятным голосом, а сегодня какой-то мужчина. Совсем никуда не годится, примите меры!!!']]

In [86]:
print(';\n'.join([' -> '.join(line.split(': ')) for line in s1.split('\n')]))

Время -> 10:34;
Дата -> 20.05.2017;
Оценка -> 1;
Длительность разговора (мин.) -> 0:32;
Комментарий -> Общение с сотрудником вашей техподдержки мне не понравилось. Раньше всегда отвечала девушка с приятным голосом, а сегодня какой-то мужчина. Совсем никуда не годится, примите меры!!!;

## 4. Массивы и циклы

### list

In [71]:
saled_goods_count = [33450, 34010, 33990, 33200]
saled_goods_count.append(34000)
income = [u'Высокий', u'Средний', u'Высокий']
names = [u'Элеонора Михайловна', u'Иван Иванович', u'Михаил Абрамович']

In [72]:
from bs4 import BeautifulSoup
soup = BeautifulSoup("Hello", "lxml")
soup.contents[0]
# u'Hello'
soup.originalEncoding
# 'ascii'
soup

In [73]:
print("---".join(income))

Высокий---Средний---Высокий

In [77]:
features = ['Ivan Ivanovich', 'Medium', 500000, 12, True]
del features[-2]
features

['Ivan Ivanovich', 'Medium', 500000, True]

In [70]:
print([] and [2])
print([1] and [])
print([] and [])
print([1] and [2])

[]
[]
[]
[2]

In [71]:
print([] or [2])
print([1] or [])
print([] or [])
print([1] or [2])

[2]
[1]
[]
[1]

**list comprehensions и генераторы**

In [6]:
x = [k ** 2 for k in range(2, 12, 3) if k != 8]
print(type(x))
print(x)

<class 'list'>
[4, 25, 121]

In [92]:
x = (k ** 2 for k in range(2, 12, 3))
print(type(x))

<class 'generator'>

In [93]:
for k in x:
    print(k)

4
25
64
121

In [94]:
for k in x:
    print(k)

## 4. Множества и словари

### set

In [101]:
names = {'Ivan', 'Petr', 'Konstantin'}

In [102]:
print('Ivan' in names)

True

In [103]:
names.add('Mikhail')
print(names)

{'Mikhail', 'Konstantin', 'Ivan', 'Petr'}

In [104]:
names.add('Mikhail')
print(names)

{'Mikhail', 'Konstantin', 'Ivan', 'Petr'}

In [105]:
names.remove('Mikhail')
print(names)

{'Konstantin', 'Ivan', 'Petr'}

In [97]:
names.add(('Vladimir', 'Vladimirovich'))
print(names)

{'Petr', 'Ivan', ('Vladimir', 'Vladimirovich'), 'Konstantin'}

In [122]:
m = range(10000)

In [123]:
%%time
print(9999999 in m)

False
CPU times: user 150 µs, sys: 48 µs, total: 198 µs
Wall time: 151 µs

### dict

In [127]:
words_frequencies = {'I': 2, 'am': 1}
print(words_frequencies)

{'I': 2, 'am': 1}

## 5. Функции, lambda-функции, работа с библиотечными модулями и функциями.

#### Распаковка списков

In [7]:
x, y = 1, 'a'
x, y = (1, 'a')
x, y, z = ['1', 2, None]

In [10]:
x = 42
y = 'fourty two'
print(x, y)

42 fourty two

In [11]:
x, y = y, x
print(x, y)

fourty two 42

#### zip

In [12]:
a = ['a', 'b', 7]
b = [1, None, 'q']
print(zip(a, b))
print(list(zip(a, b)))

<zip object at 0x7f217c74cf08>
[('a', 1), ('b', None), (7, 'q')]

In [14]:
for x in zip(a, b):
    print('first is "{}", second is "{}"'.format(x[0], x[1]))

first is "a", second is "1"
first is "b", second is "None"
first is "7", second is "q"

In [15]:
for fst, snd in zip(a, b):
    print('first is "{}", second is "{}"'.format(fst, snd))

first is "a", second is "1"
first is "b", second is "None"
first is "7", second is "q"

#### enumerate and reversed

In [21]:
my_list = ['a', 'b', 'c']
print(enumerate(my_list))
list(enumerate(my_list))

<enumerate object at 0x7f217c75d4c8>

[(0, 'a'), (1, 'b'), (2, 'c')]

In [22]:
for index, value in enumerate(my_list):
    print(index, value)

0 a
1 b
2 c

In [25]:
print(reversed(my_list))
list(reversed(my_list))

<list_reverseiterator object at 0x7f217c757518>

['c', 'b', 'a']

In [30]:
for value in reversed(my_list):
    print(value)

c
b
a

#### sorted

In [31]:
my_list = [1, 2, 3, 1, 2]
print(sorted(my_list))
print(sorted(my_list, reverse=True))

[1, 1, 2, 2, 3]
[3, 2, 2, 1, 1]

In [32]:
my_list = [(1, 1), (2, 0), (3, 4), (1, -1), (2, 2)]
print(sorted(my_list))

In [37]:
get_second = lambda x: x[1]
[get_second(i) for i in my_list]

[1, 0, 4, -1, 2]

In [39]:
print(sorted(my_list, key=get_second))

[(1, -1), (2, 0), (1, 1), (2, 2), (3, 4)]

## Немного о функциях

In [46]:
def get_income(p, f, S, L): # процентная ставка, сколько раз в год происходит капитализация, сумма вклада, количество лет
    return S * (1 + p / f) ** (f * L) - S
print(get_income(0.08, 4, 200000, 5))

97189.47919567098

In [52]:
def f1(x):
    print('we was in f1')

In [58]:
x = f1(1)
x

we was in f1

In [59]:
print(x)

None

#### Переменное число аргументов

In [60]:
def my_sum(*values):
    res = 0
    for value in values:
        res += value
    return res

In [61]:
my_sum()

0

In [67]:
my_sum(1, 3, -1)

3

#### Аргументы по умолчанию

In [63]:
def f(x, y=5):
    return x + y

In [69]:
f(0, 3)

3

In [70]:
f(x=0, y=3)

3

In [71]:
f(0)

5

In [72]:
f(x=0)

5

#### Осторожнее с аргументами по умолчанию

In [7]:
def f(x, my_list=[]):
    my_list.append(x)
    print(my_list)
    return sum(my_list)

In [9]:
print(f(1, [1, 2]))
print(f(2, [4]))
print(f(4, []))
print(f(3))
print(f(5)) # вот тут будет сюрприз
print(f(8))

[1, 2, 1]
4
[4, 2]
6
[4]
4
[3, 5, 3]
11
[3, 5, 3, 5]
16
[3, 5, 3, 5, 8]
24

Правильно делать так:

In [85]:
def f(x, my_list=None):
    if my_list is None:
        my_list = []
    my_list.append(x)
    return sum(my_list)

Аргументом функции может быть другая функция

In [88]:
def applicator(function, argument):
    return function(argument)

def f(x):
    return x + 5

def g(x):
    return x * 5

print(applicator(g, applicator(f, 1)))

30

Результатом работы функции может быть другая функция

In [86]:
def combinator(function1, function2):
    def function3(x):
        return function1(function2(x))
    return function3

fun = combinator(g, f)
print(fun(1))

30

## Лямбда функции

In [89]:
g = lambda x, y: x + y
print(g(2, 3))

5

удобно передавать в качестве параметров

In [90]:
print(sorted(my_list, key=lambda x: x[1]))

[(1, -1), (2, 0), (1, 1), (2, 2), (3, 4)]

#### аргументы по умолчанию

In [91]:
f = lambda x=1, y=5: x+y

In [95]:
f()

6

In [96]:
f(3)

8

In [97]:
f(y=3)

4

#### Захват переменной

In [110]:
x = 5

def f(y):
    global x
    x += 1
    return x + y

print(f(1))
print(f(2))
print(f(4))

7
9
12

### Ещё несколько стандартных функций

In [112]:
my_list = [0, 0, -1, -2, -3, 4, 3, 2, 5]

In [114]:
list(map(lambda x: abs(x), my_list))

[0, 0, 1, 2, 3, 4, 3, 2, 5]

In [116]:
list(filter(lambda x: x > 0, my_list))

[4, 3, 2, 5]

# Работа с модулями

In [99]:
import math

In [104]:
from math import factorial
factorial(11)

39916800

In [130]:
import heapq

In [133]:
heapq.nlargest(3, [-1, -2, -4, -3, -2, 3, 21 , -6, 0, -2])

[21, 3, 0]

In [134]:
heapq.nlargest(3, [-1, -2, -4, -3, -2, 3, 21 , -6, 0, -2], key=lambda x: abs(x))

[21, -6, -4]

In [106]:
from collections import Counter

In [107]:
Counter([1, 2, 3, 4, 5, 3, 2 ,1, 5, 7, 4, 2])

Counter({1: 2, 2: 3, 3: 2, 4: 2, 5: 2, 7: 1})

In [110]:
Counter([1, 2, 3, 4, 5, 3, 2 ,1, 5, 7, 4, 2]).most_common(3)

[(2, 3), (1, 2), (3, 2)]

Пример комбинирования разных библиотек

In [10]:
import random
import time
import sys

In [11]:
start = time.time() # узнаём текущее время
objects_dict = { # создаём большой словарь, ключом является число, а значением словарь из трёх случайных полей
    x: {
        'first_property': random.random(),
        'second_property': random.random(),
        'fourth_property': random.random(),
    }
    for x in range(100000)
}
# смотрим сколько байт занимает один объект в памяти
print('dict object size is', sys.getsizeof(objects_dict[0]))

finish = time.time() # время окончания
print('Spent {:.3f} seconds'.format(finish - start))

dict object size is 232
Spent 0.062 seconds

In [14]:
# objects_dict

### Задание вместе

Нужно написать функцию, которая принимает число $n$, генерирует список случайных чисел от 1 до $n$ длины $n$. Находит среди них простые и возвращает их tuple из этого списка и суммы всех его элементов.

In [114]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, n))

In [115]:
is_prime(1)

False

In [119]:
def function(n, seed=42):
    random.seed(seed)
    my_list = map(lambda x: random.randint(1, n), range(n))
    prime_numbers = filter(is_prime, my_list)
    return (list(prime_numbers), sum(prime_numbers))

In [122]:
len(function(400))/400

0.005

In [134]:
words_frequencies['I'] += 1
words_frequencies[u'yo'] = 1
words_frequencies[(1,2,5)] = [4, 5, 7]
print(words_frequencies)

{'I': 6, 'am': 1, 'yo': 1, (1, 2, 5): [4, 5, 7]}

## Задание 1.1

Напишите функцию, которая принимает список чисел my_list (количество товаров разных марок) и число $n$ и возвращает сумму всех чисел списка меньше либо равных $n$ (суммарное количество товаров, которых в наличие меньше либо равно $n$).

In [1]:
def function_1_1(my_list, n):
    return sum(my_list[i] for i in range(len(my_list)) if my_list[i] <= n)

In [2]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 7) == 31

True

In [3]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 7) == 20

True

In [4]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 3) == 12

True

In [5]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 5) == 18

True

In [6]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 3) == 9

True

In [7]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 0) == 0

True

#### Значение для формы

In [8]:
import random

random.seed(42)
print(function_1_1([random.randint(0, 1000) for _ in range(10000)], 700))

2496584

## Задание 1.2

Имеется список пар (фамилия, долг) $my\_list$ и число $dept$. Нужно написать функцию, которая для каждой фамилии находит суммарный долг и выводит отсортированный список фамилий, у которых долг строго больше $dept$.

Одна и та же фамилия может встречаться несколько раз, и тогда долги по ней суммируются.

In [9]:
import numpy as np


def function_1_2(my_list, dept):
    
    
    data = [my_list[i][1] for i in range(len(my_list)) ]
    groups = [my_list[i][0] for i in range(len(my_list)) ]
    x, y = np.meshgrid(groups, np.unique(groups))
    data_stack = np.tile(data, (np.unique(groups).size, 1))

    data_in_group = np.zeros_like(data_stack)
    data_in_group[x==y] = data_stack[x==y]

    sums = data_in_group.sum(axis=1)

    
    return np.unique(groups)[sums > dept].tolist()

In [10]:
def function_1_2(my_list, dept):
    
    
    data = np.array([my_list[i][1] for i in range(len(my_list)) ])
    groups = np.array([my_list[i][0] for i in range(len(my_list)) ])
    
    unique_groups = np.unique(groups)
    sums = []
    for group in unique_groups:
        sums.append(data[groups == group].sum())
    
    sums = np.array(sums)    
        
    return unique_groups[sums > dept].tolist()

In [11]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 1) == ['Ivanov', 'Petrov', 'Sidorov']

True

In [12]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 2) == ['Ivanov', 'Sidorov']

True

In [13]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 3) == ['Sidorov']

True

In [14]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 4) == []

True

In [15]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 1), ('Sidorov', 4)], 2) == ['Sidorov']

True

In [16]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 2) == ['Ivanov', 'Petrov']

True

In [17]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 3) == ['Petrov']

True

#### Значение для формы

In [18]:
import random
import numpy as np



random.seed(42)
print(','.join(function_1_2([(str(random.randint(1, 20)), random.randint(1, 1000) ) for _ in range(1000)], 25000)))

10,11,14,18,19,3,4,5,8,9

## Задание 2.1

Напишите функцию, принимающую число $n$ и считающую $n!$, не используя модуль math

$n! = 1 \cdot 2 \cdot 3 \cdot \dots \cdot (n - 1) \cdot n$

In [19]:
def function_2_1(n):
    if n == 0: 
        return 1 
    else: 
        return n * function_2_1(n-1)

In [20]:
function_2_1(3) == 6

True

In [21]:
function_2_1(5) == 120

True

In [22]:
function_2_1(9) == 362880

True

In [23]:
function_2_1(13) == 6227020800

True

#### Значение для формы

In [24]:
print(function_2_1(100))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

## Задание 2.2

Есть два списка чисел: цены товаров в одном магазине и цены товаров в другом магазине.

Нужно сравнить средние (среднее берётся по всем товарам) цены, минимальные цены и максимальные  в магазинах. Если первое зачение меньше надо вернуть 'First', если второе, то 'Second', а если равны, то 'Equal'

Например, function_2_2([1, 2, 3], [2, 2, 2])

В первом магазине среднее значение 2, минимальное 1, максимальное 3. А во втором среднее 2, минимальное 2 и максимальное 2.

Результаты сравнения $2 = 2,~1 < 2,~3 > 2$, поэтому нужно вернуть  ('Equal', 'First', 'Second')

In [25]:
def function_2_2(list1, list2):
    first = [np.mean(list1), np.min(list1), np.max(list1)]
    second = [np.mean(list2), np.min(list2), np.max(list2)]
    out=[]
    for i in np.arange(3):
        if first[i] == second[i]:
            out.append('Equal')
        elif first[i] < second[i]:
            out.append('First')
        else:
            out.append('Second')   
    return tuple(out)

In [26]:
function_2_2([1, 2, 3], [2, 2, 2]) == ('Equal', 'First', 'Second')

True

In [27]:
function_2_2([2, 2, 1], [4]) ==('First', 'First', 'First')

True

In [28]:
function_2_2([3, 5], [2, 4, 6]) == ('Equal', 'Second', 'First')

True

In [29]:
function_2_2([1, 7], [2, 4, 7]) == ('First', 'First', 'Equal')

True

#### Значение для формы

In [30]:
import random

random.seed(47)
print(','.join(function_2_2(
    [random.randint(0, 100000) for _ in range(1000)],
    [random.randint(0, 100000) for _ in range(1000)]
)))

Second,First,Second

## Задание 3.1

Вам известны количество продаж разных товаров. Они представлены в виде списка, первое значение - число продаж первого товара, второе значение - второго, и так далее. Вы хотите посмотреть на список самых популярных товаров среди тех, у которых объём продаж не выше заданного числа.

Напишите функцию, которая принимает список чисел my_list, число  $n$ и число $k$  и возвращает сумму $k$ наибольших чисел среди всех чисел списка меньше либо равных  $n$ .

In [31]:
from heapq import nlargest

def function_3_1(my_list, n, k):
    my_list = np.array(my_list) 
    return sum(nlargest(k, my_list[my_list<=n]))

In [32]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 1) == 7

True

In [33]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 3) == 18

True

In [34]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 5) == 25

True

In [35]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 8) == 31

True

In [36]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 10) == 31

True

In [37]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 3) == 18

True

In [38]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 3) == 13

True

In [39]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 3) == 7

True

In [40]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 2) == 12

True

In [41]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 2) == 10

True

In [42]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 2) == 6

True

#### Значение для формы

In [43]:
import random

random.seed(42)
print(function_3_1([random.randint(0, 1000) for _ in range(10000)], 700, 300))

205778

## Задание 3.2

Напишите списковое выражение, генерирующее все простые числа не больше заданного числа

In [44]:
def function_3_2(n):
    return [ i  for i in np.arange(2,n+1)  if 0 not in np.array([i] * (i-2) ) % np.arange(2,i)]

In [45]:
function_3_2(3) == [2, 3]

True

In [46]:
function_3_2(10) == [2, 3, 5, 7]

True

In [47]:
function_3_2(20) == [2, 3, 5, 7, 11, 13, 17, 19]

True

#### Значение для формы

In [48]:
print(sum(function_3_2(10000)))

5736396

## Задание 4.1

Напишите функцию, которая по множеству, возвращает список всех его подмножеств

In [49]:
from itertools import chain, combinations

def function_4_1(my_set):
    s = list(my_set)
    return list(chain.from_iterable(combinations(s, r) for r in range(len(s)+1)))

In [50]:
function_4_1([1,2,3])

[(), (1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

In [51]:
def check_4_1(my_set, function_res):
    if len(function_res) != len(set(map(frozenset, function_res))):
        return False
    if len(function_res) != 2 ** len(my_set):
        return False
    return all(set(x) <= my_set for x in function_res)

In [52]:
check_4_1(set(range(10)), function_4_1(set(range(10))))

True

In [53]:
check_4_1(set(range(1)), function_4_1(set(range(1))))

True

In [54]:
check_4_1(set(range(20)), function_4_1(set(range(20))))

True

#### Значение для формы

In [55]:
print(sum([ len(subset) - sum(subset) + sum(subset) ** 2 
           for subset in function_4_1(set(range(2, 21, 3)))]))

220416

## Задание 4.2

Напишите функцию раскладывающее число на простые множители

по числу $n$ нужно вернуть список пар $(p_i, c_i)$ такой, что $\prod_i~p_i^{c_i} = n$

In [68]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, n))

def function_4_2(n):
    origin = n 
    factors = []
    for i in range(2,n+1):
        while np.prod(factors) != origin: 
            if is_prime(i)==True:                
                while n % i == 0 :
                    n = n / i
                    factors.append(i)
                i += 1
            else:
                break
    
    return [[x,factors.count(x)] for x in set(factors)]

In [58]:
def check_4_2(n, my_list):
    prod = 1
    for p, c in my_list:
        if not is_prime(p):
            return False
        prod *= p ** c
    return prod == n

In [59]:
check_4_2(10, function_4_2(10))

True

In [60]:
check_4_2(11690, function_4_2(11690))

True

In [61]:
check_4_2(254242, function_4_2(254242))

True

#### Значение для формы

In [79]:
print(sum(
    (c + 1) ** (p - 1) * c - p
    for p, c in function_4_2(7648)
))

441711766194596082395824375185729628956870974218904739530401550323154733

In [76]:
a = function_4_2(7648)
type(a)

list

In [70]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, n))

def function_4_3(n):
    origin = n 
    factors = []
    primes = [i for i in np.arange(2,n+1) if is_prime(i) ]
    while np.prod(factors) != origin: 
        for i in primes:
            while (n % i == 0)   :
                n = n / i
                factors.append(i)
            i += 1
        
    return [[x,factors.count(x)] for x in set(factors)]

In [90]:
b = function_4_3(7648)
b

[[2, 5], [239, 1]]

In [95]:
function_4_3(7648) == [[2, 5], [239, 1]]

True

In [96]:
print(sum(
    (c + 1) ** (p - 1) * c - p
    for p, c in function_4_3(7648)
))

-211

In [97]:
print(sum(
    (c + 1) ** (p - 1) * c - p
    for p, c in [[2, 5], [239, 1]]
))

441711766194596082395824375185729628956870974218904739530401550323154733

In [75]:
a == b

True